<div class="row"><div class="column">
	<h2 class="ta-center">Agregar Dueño</h2>
	<div class="row formEntry"><label>Nombre</label><input type="text" placeholder=" "></div>
	<div class="row formEntry"><label>Correo</label><input type="text" placeholder=" "></div>
	<div class="row formEntry"><label>Teléfono</label><input type="text" placeholder=" "></div>
</div></div>
<div class="row">
	<div class="column">
		<div class="row">
			<a class="button bg-red" role="button" onclick="loadModal('../templates/addOwnerSuccessModal.html')">Guardar</a>
		</div>
		<div class="row">
			<button class="button bg-redpale" role="button" onclick="document.querySelector('.modalBackdrop')?.remove()">Cancelar</button>
		</div>
	</div>
</div>