<div class="row"><div class="column">
    <p class="ta-center">¿Deseas alertar la pérdida de esta mascota?</p>
</div></div>
<div class="row">
    <div class="column">
        <div class="row">
            <a class="button bg-red" role="button" onclick="loadModal('../templates/alertConfirmModal.html')">Confirmar alerta</a>
        </div>
        <div class="row">
            <button class="button bg-redpale" role="button" onclick="document.querySelector('.modalBackdrop')?.remove()">Cancelar</button>
        </div>
    </div>
</div>