#mainMapFrame{width:100%;height:calc(100% - var(--offset-bottom));border:none;position:fixed}
#footerButtonHolder{background: none;}

ion-col{align-content:center}
[size=largest]{width:70px;height:70px}