<div class="row">
	<div class="column">
		<p class="ta-center"><b>¿Deseas confirmar los cambios del perfil?</b></p>
		<p class="ta-center">Tu perfil se ha actualizado correctamente.</p>
	</div>
</div>
<div class="row">
	<div class="column">
		<div class="row">
			<button type="button" class="button bg-primary" data-redirect="account.html" onclick="closeModal(this)">Aceptar</button>
		</div>
		<div class="row">
			<button type="button" class="button bg-secondary" onclick="closeModal(this)">Seguir editando</button>
		</div>
	</div>
</div>