#profileImageDisplay{width:60vw;height:60vw;border:solid 1px #888;border-radius:50%;background-size:cover;background-position:50%;margin:1rem auto}
.detailItem{padding:0.5rem;background:#f8f9fa;border-radius:0.5rem}
.detailLabel{font-weight:bold;color:#666;font-size:0.9rem}
.detailValue{color:#333;margin-top:0.25rem;}
.detailValue:empty{color:#0004;}
.detailValue:empty::before{content:"No definido"}

/* Opción 4 del menú pop up, correspondiente a "Eliminar Cuenta" */
#popUpOption_3{color:var(--color-primary);font-weight:bold}