.auth-logo {width: 8em;filter: drop-shadow(0 2px 4px #0001);}
.auth-title {font-weight: 700;font-size: 1.4rem;margin-bottom: 0.5rem;color: #222;}
.small-modal {max-width: 320px;width: 85%;border-radius: 20px;padding: 1.5rem;}
.center-text{text-align:center;}